/* colors from #10. Turkish Coffee
Copper #B78338
Chestnut #915C4C Nav background
Faded Jade #40686A main background
Tamarind #2F1812
https://www.shutterstock.com/blog/101-color-combinations-design-inspiration */

*{
  margin: 20xp;
  padding: auto;
  box-sizing: border-box;
}

.btn-main {
  background-color: #2F1812 !important;
  color: white !important;
}

.btn-extra {
  background-color: #B78338 !important;
  color: white !important;
}

body {
  margin: 20xp;
  background: #40686A;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #40686A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 2F1812;
}

.App-link {
  color: #B78338;
}

/* navbar color */
.navbar {
  background-color: #915C4C;
  display: flex;
  flex-direction: row;
}

/* mouse over link navbar navbar-expand-lg navbar-light info*/
.nav.item a:hover {
  background-color: #2F1812;
  color: white !important;
}

.navbar a.active {
  background-color: #915C4C;
}

.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.caption1 {
  font-style: italic;
  }

.caption3 {
  color: #915C4C;
}

.h1 {
  color: #2F1812; 
}

.h3 {
  color: #2F1812; 
  justify-content: center;
  margin-right: 4rem;
}

.container{
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  text-align: center;
  justify-content: center;
}

th {
  background-color: white;
  color: #40686A;
}

tr {
  background-color: white;
  color: #40686A;
}

button {
  background-color: #2F1812;
}